//- PrivateGrid.pug

.grid
  .participant-name
    = participant.name
  .participant-alias
    = participant.context.alias
  .chat-name
    = context.name
  .message
    = event.message
  .status
    = options.color
